body {
  background-color: black;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

.links {
  color: Aquamarine;
  font-size: 16px;
}

.header {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.description {
  font-size: 21px;
  color: gray;
}

.subheader {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.footer {
  text-align: right;
  font-size: 21px;
  color: gray;
}
